#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map {
      height: 500px;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  

  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
  
  
  form{
                  display:flex;
                  width:100%;
                  flex-direction:row;
                  justify-content:center;
                  margin:1rem auto;
              }
              select.filter{
                  padding:0.25rem;
                  margin:0.15rem;
                  flex:1
              }
              p{
                  width:900px;
                  margin:auto;
                  float:none;
              }
              form *,p{
                  font-family:monospace
              }