body {
  background-color: #181a1b;
  margin: 0px;
  color: black;
  width: 100%;
  overflow: hidden;
}

.rightCard{
  position: -webkit-absolute;
  position: absolute;
  top: 15vh;
  bottom: 9%;
  right: 5vw;
  background-color: rgba(0, 0, 0,0.7);
  width: 35%;
  height: 67%;
  padding: 50px;
  font-size: 20px;
  z-index: 1;
}

#menu {  
  align-items: center;
  display: flex;
  margin-top: 26vh;
  margin-left: 5%;
}


#menu-items {
  margin-left: 6rem;
  position: relative;
  z-index: 2;
}

#menu[data-active-index="0"] > #menu-background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
  background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
  background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
  background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
  background-position: center 60%;
}

#menu-background-image {
  background-image: url(./img/sihMainBG.png);
  background-position: center 40%;
  background-size: 110vmax;
  height: 100%;
  left: 0px;  
  opacity: 0.15;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: 0;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 100vmax;
  opacity: 0.1;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1; 
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem; 
  text-decoration: none;
  transition: opacity 400ms ease;
}

.selectPlace{
  position: relative;
  padding: 0;
  margin: 0 auto;
  /* margin-left: 20%; */
  margin-top: -7%;
  margin-bottom: 2%;
  /* margin-left: 2%; */
  width: 135%;
}
input.boo {
  background-color: #ea4335;
  width: 54.5%;
  border: 0;
  padding: 11px 0;
  margin: 5px 0;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  font-size: large;
  margin-right: 0;
}
input.boo::placeholder{
  color: white;
  opacity: 100;
  font-size: large
}
select.booo {

  /* display: inline; */
  background-color: #6BBE92;
  width: 20%;
  border: 0;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-size: large;
  position: relative;
  margin-left: -16.4%;
}

.container{
  margin-top: -2%;
  outline: 1px solid white;
  height: 97%;
}
  
  
  